<?xml version="1.0" encoding="UTF-8" ?>
<pageDefinition xmlns="http://xmlns.oracle.com/adfm/uimodel" version="12.2.1.16.48" id="springboard_demoPageDef"
                Package="view.pageDefs">
  <parameters/>
  <executables>
    <variableIterator id="variables"/>
    <taskFlow id="departmentstaskflow1" taskFlowId="/WEB-INF/departments-task-flow.xml#departments-task-flow"
              activation="deferred" xmlns="http://xmlns.oracle.com/adf/controller/binding"/>
    <taskFlow id="employeestaskflow1" taskFlowId="/WEB-INF/employees-task-flow.xml#employees-task-flow"
              activation="deferred" xmlns="http://xmlns.oracle.com/adf/controller/binding"/>
  </executables>
  <bindings/>
</pageDefinition>
